

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  background-color: whitesmoke;
}

img{
  max-width: 100%;
  width: 150px;
  height: 100px;
}


.message {
  margin-bottom: 5px;
  width: 100%;
  padding: 10px 0;
}

.sent {
  text-align: right;
  background-color: #e2f2ff;
}

.received {
  text-align: left;
  background-color: lightgray;
}


.timestamp {
  font-size: 13px;
}

.input-div{
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  position: fixed;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.file {
  position: absolute;
  right: 0;
  margin-right: 100px;
  margin-bottom: 20px;
  bottom: 0;
}

.send {
  background-color:  black;
  color: #fff;
  width: 20%;
  height: 40px;
  padding: 10px;
  position: absolute;
  right: 0;
}

.field {
  width: 100%;
}

.header{
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;

}

.header h1 {
    display: flex;
    gap: 10px;
}

.isOnline {
  color: green;
}

.chat-ai-form{
    bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  position: fixed;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chat-ai-form input {
  width: 100%;
  height: 30px;
    border: 1px solid grey;
    outline: none;
}

.chat-ai-form button {
  padding: 10px;
  background-color: green;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

pre {
  max-width: 100%;
  
}

code {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
}